<md-dialog aria-label="Class Member">
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <h2 class="md-flex monospace">{{ ctrl.class.name }}</h2>
    </div>
  </md-toolbar>
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <h3 class="md-flex monospace">{{ ctrl.member.name }}</h3>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <p>{{ ctrl.member.summary }}</p>
    <div ng-if="ctrl.member.parameters && ctrl.member.parameters.length > 0">
      Parameters:
      <ul>
        <li ng-repeat="parameter in ctrl.member.parameters">
          <span class="monospace">{{parameter.name}}</span>: {{parameter.description}}
        </li>
      </ul>
    </div>
    <div ng-if="ctrl.member.returns && ctrl.member.returns.length > 0">
      Returns:
      <ul>
        <li ng-repeat="ret in ctrl.member.returns">
          <span class="monospace">{{ret.name}}</span>: {{ret.description}}
        </li>
      </ul>
    </div>
    <div ng-if="ctrl.member.exception && ctrl.member.exception.length > 0">
      Exceptions:
      <ul>
        <li ng-repeat="exception in ctrl.member.exception">
          <span class="monospace">{{exception.name}}</span>
        </li>
      </ul>
    </div>
  </md-content>
  <md-content class="md-actions" layout="row">
    <md-button ng-click="ctrl.dialog.hide()" class="md-primary">
      Close
    </md-button>
  </md-content>
</md-dialog>
