source https://nuget.org/api/v2

nuget FSharp.Formatting 2.8.0
nuget LibLog
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget Serilog
nuget SourceLink.Fake
nuget FSharpVSPowerTools.Core 1.7.0

github fsharp/FAKE modules/Octokit/Octokit.fsx