@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
  font-family: 'PT Sans', sans-serif;
  scrollbar-arrow-color: #d0d0d0;
  scrollbar-track-color: #f0f0f0;
  scrollbar-darkshadow-color: #d0d0d0;
  scrollbar-shadow-color: #d0d0d0;
  scrollbar-face-color: #d0d0d0;
  scrollbar-highlight-color: #d0d0d0;
  scrollbar-3dlight-color: #d0d0d0;
}

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb
{
  background: #d0d0d0;
}

.monospace {
  font-family: "Lucida Console", Monaco, monospace;
}

.top {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top > .main-content {
  width: 80% !important;
  height: inherit;
  box-sizing: border-box;
  display: inline-block;
}

.top > .main-content > md-content {
  height: inherit;
  box-sizing: border-box;
  padding: 0;
}

.top > .main-content > md-content > md-tabs {
  height: inherit;
  box-sizing: border-box;
}

.top > .main-content .details {
  padding: 2em 1em 0 1em;
}

.top > .main-content .release {
  padding: 2em 1em 0 1em;
}

.top > .main-content .release .version {
  margin-bottom: 1em;
  font-size: larger;
  font-weight: normal;
}

.top > .main-content .release .version .version-number {
  font-weight: bold;
}

.top > .main-content .release .nuget-install {
  padding-left: 2em;
}

.top > .main-content .release .nuget-install .nuget-install-command-wrapper {
  width: 100%;
  display: inline-block;
  margin-top: .5em;
  margin-bottom: 1em;
}

.top > .main-content .release .nuget-install .nuget-install-command-wrapper .nuget-install-command {
  display: inline-block;
  padding: .5em;
  background-color: black;
  color: white;
  border: 1px solid #d0d0d0;
  font-size: 125%;
}

.top > .main-content .release .release-notes > .title {
  font-size: larger;
}

.top > .main-content .release .release-notes > .content {
  margin-top: .5em;
  font-style: italic;
}

.top > .main-content .license {
  padding: 2em 1em 0 1em;
}

.top > .main-content .documentation {
  padding: 2em 1em 0 1em;
}

.top > .sidebar {
  float: right;
  width: 20% !important;
  height: 100%
  overflow: hidden;
  vertical-align: top;
  padding: 1em .5em 0 .5em;
  box-sizing: border-box;
}

.top > .sidebar > .project-title {
  font-size: larger;
  font-weight: bold;
}

.top > .sidebar a {
  text-decoration: none;
}

.top > .sidebar > .owner-info {
    margin-top: 2em;
}

.top > .sidebar > .owner-info > .owner-info-data {
  width: 100%;
  text-align: center;
}

.top > .sidebar > .owner-info > div > a > .logo > img {
  width: 50%;
}
